@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;700&family=Lexend+Deca&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 93.76%; /* 16px default font size X 62.5 = 10px => 1rem*/
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: white;
  color: white;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  width: 60vw;
  border-radius: 5px;
  background-color: hsl(184, 100%, 22%);
}

.container div:first-child {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.container div:last-child {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sedans,
.suvs,
.luxury {
  flex: 33%;
  padding: 50px;
  color: white;
  height: 65vh;
}

.sedans div:first-child,
.suvs div:first-child,
.luxury div:first-child {
  background-repeat: no-repeat;
  height: 40px;
  width: 64px;
  background: transparent;
}

.sedans div:last-child,
.suvs div:last-child,
.luxury div:last-child {
  width: 100%;
  text-align: left;
  background: transparent;
}

.sedans div:first-child {
  background-image: url("./assets//icon-sedans.svg");
}

.suvs div:first-child {
  background-image: url("./assets//icon-suvs.svg");
}

.luxury div:first-child {
  background-image: url("./assets//icon-luxury.svg");
}

.heading {
  margin: 15% 0;
  text-transform: uppercase;
  font-family: "Big Shoulders Display", cursive;
}

.description {
  margin: 20% 0 50% 0;
  font-family: "Lexend Deca", sans-serif;
  font-weight: lighter;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    margin: 40px 20px !important;
    width: 90vw !important;
    align-self: stretch;
    border-radius: 5px;
  }

  .sedans,
  .suvs,
  .luxury {
    flex: 33%;
    padding: 60px !important;
    color: white;
    height: 53vh;
  }

  .container div:first-child {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .container div:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .heading {
    margin: 10% 0 !important;
  }

  .description {
    margin: 10% 0 25% 0 !important;
  }
}

.button {
  width: 75%;
  height: 40px;
  border-radius: 20px;
  background: transparent;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

.button:hover {
  background: white;
}

.sedansButton:hover {
  color: hsl(31, 77%, 52%);
}

.suvsButton:hover {
  color: hsl(184, 100%, 22%);
}

.luxuryButton:hover {
  color: hsl(179, 100%, 13%);
}

/* .car1{
  flex: 50%;
  padding: 50px;
  background-color:#1C1938;
  border-top-left-radius:10px;
  border-bottom-left-radius: 10px;
  color:white;
}

.car2{
  flex: 50%;
  background: url("./assets/icon-luxury.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
} */
